:root{
    /* Colors */
    --primary-back-ground-color:#004380;
    --Fixed-font-color:#e9f2ff;
    --main-back-ground-color:#11192e;
    --primary-font-color:#e9f2ff;
    --secondary-back-ground-color:#e9f2ff;
    --secondary-font-color:#11192e;

    /* Default font sizes for mobile devices */
    --body-font-size: 12px;
    --heading-font-size: 18px;
    --subheading-font-size: 16px;
    --small-font-size: 10px;

    /* Borders */
    --border-color:light-dark(rgb(255, 255, 255), rgb(255, 255, 255));
    --border: var(--border-color) solid 1px;
    --primary-border:var(--primary-back-ground-color) solid 2px;

    --secondary-font:"Julius Sans One" ; 
    --sub-main-font-gap:15px;
    --form-padding:5px;
}

body {
    font-size: var(--body-font-size);
    color:var(--primary-font-color);
    background-color: var(--main-back-ground-color);
}

a{
    color: var(--primary-back-ground-color);
}

/* For phones */
@media (min-width: 375px) {
    :root {

        --primary-back-ground-color:#80002d;
        --body-font-size: 14px;
        --heading-font-size: 20px;
        --subheading-font-size: 18px;
        --small-font-size: 11px;
    }
}

/* For tablets */
@media (min-width: 768px) {
    :root {
        /* Dark mood */
        --primary-font-color:#11192e;
        --main-back-ground-color:#e9f2ff;
         --secondary-back-ground-color:#11192e;
        --secondary-font-color:#e9f2ff;
        --primary-back-ground-color:#802d00;
        --border-color:light-dark(rgb(118, 118, 118), rgb(133, 133, 133));


        --body-font-size: 16px;
        --heading-font-size: 24px;
        --subheading-font-size: 20px;
        --small-font-size: 12px;
    }
}

/* For small desktops */
@media (min-width: 992px) {
    :root {
        --primary-back-ground-color:#007c80;
        --body-font-size: 18px;
        --heading-font-size: 26px;
        --subheading-font-size: 22px;
        --small-font-size: 13px;
    }
}

/* For large desktops and TVs */
@media (min-width: 1200px) {
    :root {
        --primary-back-ground-color:#800055;
        --body-font-size: 20px;
        --heading-font-size: 28px;
        --subheading-font-size: 24px;
        --small-font-size: 14px;
    }
}



.break{
    background-color: var( --secondary-back-ground-color);
    height: 1px;
    width: -webkit-fill-available;
}





/*

Sign in and Sign up pages

*/

.SignContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100svh;
}

.SignFormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.SignWelcome{
    font-size: var(--heading-font-size);
    margin-bottom: 30px;
}
.SignFormContainer form {
    
    flex-direction: column;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    border: var(--border);
    padding: 60px 20px;
    border-radius: 5px;
}

.SignFormContainer input+ h3 + h1 , h4 + .SignDifferent{
    width: -webkit-fill-available;
    height: 32px;
    border-radius: 10px;
    padding: 4px;
}



.SignFormContainer #email , #name , #Password{
    background-color: var(--main-back-ground-color);
    padding:var(--form-padding);
    font-size: var(--body-font-size);
    border-radius: 15px;
    border:var(--border);
}

.SignFormContainer #email:focus-visible , #name:focus-visible , #Password:focus-visible{
    outline: var(--primary-border);
}

  


.SignSubmit{
    background-color: var(--primary-back-ground-color);
    color: var(--secondary-font-color);
    font-size: var(--body-font-size);
    padding: 10px;
    height: auto;
    cursor: pointer;
    border: var(--primary-border);
    border-radius: 20px;

}
.SignSubmit:hover{
    background-color: var(--main-back-ground-color);
    color: var(--primary-back-ground-color);
}
.SignDifferent{
    border: var(--border) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    cursor: pointer;
    padding:var(--form-padding);
    font-size: var(--small-font-size);
}


.SignFormDiv{
    display: flex;
    justify-content: space-evenly;
    width: -webkit-fill-available;
    align-items: center;
}

.SignFormDiv p{
    margin: 0 4px;
}

.SignImageContainer{
    display: flex;
    justify-content: flex-end;
}

.SignImageContainer img{
    height: 100svh;
    width: 85%;
 
}

.SignFormFooter{
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
    align-items: center;
    gap: 10px;
}

.SignFormFooterLink{
    text-decoration: underline;
}
@media screen and (max-width:1200px) {

    .SignImageContainer img{
        width: 100%;
    }

   
     
}

@media screen and (max-width:1010px) {
    .SignContainer{
        display: grid;
        grid-template-columns: 1fr;
        height: 100svh;
    }
    .SignImageContainer{
        display: none;
    }
}

@media screen and (max-width:500px) {
    .SignFormContainer form {
        width: 75%;
    }   
}


@media screen and (max-width:380px) { 

    .SignDifferent>p{
        display: none;
    }
    .SignFormDiv{
        justify-content: center;
        column-gap: 15px;
     }
    .SignDifferent{
        border: none;
        font-size: 1rem;
    }
}
/*

    Navigation bar 

*/

.NavBarContainer{
    background-color: var(--primary-back-ground-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}


.NavBarRight {
    display: flex;
    justify-content: flex-end;
    column-gap:var(--sub-main-font-gap) ;
}
.NavBarLeft{
    display: flex;
    justify-content: flex-start;
}

.NavBarRight >p{
    padding-left:5px ;
    border-left: var(--border) ;
}

.NavBarLanguage , .NavBarAccount ,.NavBarCart,.NavBarWallet{
    color: var(--Fixed-font-color);
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
}

.NavBarLanguage:hover , .NavBarAccount:hover ,.NavBarCart:hover ,.NavBarWallet:hover{
    color:#d8d8d8;
}


/* 

Main Page

*/

.MainPageContainer{
    margin:  0  0 60px 0;

}

/* 

Header 

*/

.HeaderContainer{
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 20px;
    border-bottom: var(--border);
}

.HeaderLeft{
    align-items: center;
    font-size: var(--heading-font-size);
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    
}


.HeaderLeft p{
    font-family: var(--secondary-font) ,"Outfit" ,'Segoe UI', 'Roboto', 'Oxygen';
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-back-ground-color);
}

.HeaderRight{
    display: flex;
    justify-content: flex-end;
}


/* 

Footer

*/

.FooterContainer{
    font-size: var(--small-font-size);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 7px  20px;
    background-color: var(--primary-back-ground-color);
    color: var(--Fixed-font-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;

}

.FooterDiv{
    display: flex;
    justify-content: center;}

.FooterContainer p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1;
    -webkit-box-orient: vertical;

}


/* 

OffersContainer

*/

.OffersContainer{
    background-color: var( --secondary-back-ground-color);
    color: var(--secondary-font-color);
    font-weight: 100;
    text-align: center;
    padding:5px 0;
}





/* 

Landing

*/
.LandingContainer{
    height: 33vw;
}
.LandingContainer img{
    position: absolute;
    width: 100%;
}

 .LandingTextWrapper{
    color: var(--primary-back-ground-color);
    position: absolute;
    display: grid;
    width: -webkit-fill-available;
   
}

.LandingContainer p{
    font-family:"Stick No Bills", "sans-serif";
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
}

 .LandingImageName{
    font-weight: 900;
    font-size: calc(1.5 * var(--heading-font-size)) ;
    margin-left: 10%;
}

.BrandVoice{
    font-size: var(--heading-font-size);
    font-weight: 700;
    border: var(--border);
    margin-right: 5%;
    padding: 5px;
    justify-self: flex-end;
    margin-left: 10%;
}



/* 

Categories

*/


.CategoriesContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.CategoriesHeader{
    font-weight: 500;
    font-size: var(--heading-font-size);
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.CategoryCardsSlider{
    width: 80%;
}

.slick-next:before, .slick-prev:before {
    color: var( --secondary-back-ground-color);
}

/* 

Category Card

*/

.CategoryCardContainer{
    margin: .3rem;
}

.CategoryCardDetails{
    position: relative;
    display: flex;
    background: rgba(57, 57, 57, 0.5);
    bottom: 7vh;
    justify-content: space-between;
    color: var(--Fixed-font-color);
    padding: 5px 10px;
    align-items: center;
    font-size: var(--subheading-font-size);

}
.CategoryCardDetails>p{
    font-weight: 200;
}

.CategoryCardContainer a>img{
    width: 100%;
    border-radius: 10px;
}


/* 

Products

*/

.ProductsContainer{
    display: grid;
    justify-items: center
}

.ProductsContainerHeader{
    font-weight: 500;
    font-size: var(--heading-font-size);
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    
}

.ProductsCardsContainer{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
}


@media screen and (max-width:600px) {
    .ProductsCardsContainer{   grid-template-columns: 1fr 1fr 1fr ;
    }
}

@media screen and (max-width:450px) {
    .ProductsCardsContainer{   grid-template-columns: 1fr 1fr  ;
    }
}



/* 

Product

*/
.ProductCardContainer{
    margin: .2rem;
    border: var(--border);
    border-radius: 10px;

}



.ProductCardContainer >div h4{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
    -webkit-box-orient: vertical;
}
.ProductCardContainer >div{
    padding: 10px;
    display: grid;
    gap: 10px;
}
.ProductCardDetails{
    font-size: var(--small-font-size);
    display: flex;
    justify-content: space-between;
}
.ProductCardContainer img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

