:root{
    --primary-color:#004380;
    --primary-font-color:white;
    --secondary-font:"Julius Sans One" ; 
    --border:light-dark(rgb(118, 118, 118), rgb(133, 133, 133)) solid 1px;
    --border-radius:10px;
    --main-font-size : xx-large;
    --sub-main-font-size:large;
    --sub-main-font-gap:15px;
    --form-padding:5px;
}


@media screen and (max-width:1010px) {
    :root{
        --main-font-size : x-large;
        --sub-main-font-size:medium;
        --sub-main-font-gap:10px;

    }

}

@media screen and (max-width:600px) {
    :root{
        --main-font-size : large;
        --sub-main-font-size:small;
        --sub-main-font-gap:7px;

    }
}

@media screen and (max-width:500px) {
    :root{
        --sub-main-font-size:x-small;
        --sub-main-font-gap:5px;
    }
}


@media screen and (max-width:400px) {
    :root{
        --sub-main-font-size:xx-small;
    }
}


.break{
    background-color: rgb(0, 0, 0 , .1);
    height: 1px;
    width: -webkit-fill-available;
}




/*

Sign in and Sign up pages

*/

.SignContainer{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100svh;
}

.SignFormContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.SignWelcome{
    margin-bottom: 30px;
}
.SignFormContainer form {
    flex-direction: column;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    border: black solid 1px;
    padding: 60px 20px;
    border-radius: 20px;
}

.SignFormContainer input+ h3 + h1 , h4 + .SignDifferent{
    width: -webkit-fill-available;
    height: 32px;
    border-radius: var(--border-radius);
    padding: 4px;
    border-color: var(--border) ;
}

.SignFormContainer #email , #name , #Password{
    padding:var(--form-padding);
    
}


.SignFormContainer .SignSubmit{
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    font-size: large;
    padding: 10px;
    height: auto;
    cursor: pointer;

}
.SignDifferent{
    border: var(--border) ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    cursor: pointer;
    padding:var(--form-padding);

}


.SignFormDiv{
    display: flex;
    justify-content: space-evenly;
    width: -webkit-fill-available;
    align-items: center;
}

.SignFormDiv p{
    margin: 0 4px;
}

.SignImageContainer{
    display: flex;
    justify-content: flex-end;
}

.SignImageContainer img{
    height: 100svh;
    width: 85%;
 
}

.SignFormFooter{
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
    align-items: center;
    gap: 10px;
}

.SignFormFooterLink{
    color: blue;
    text-decoration: underline;
}
@media screen and (max-width:1200px) {

    .SignImageContainer img{
        width: 100%;
    }

    .SignDifferent p{
        font-size: .8rem;
    }
    
     
}

@media screen and (max-width:1010px) {
    .SignContainer{
        display: grid;
        grid-template-columns: auto;
        height: 100svh;
    }
    .SignImageContainer{
        display: none;
    }
}

@media screen and (max-width:500px) {
    .SignFormContainer form {
        width: 80%;
    }   
}


@media screen and (max-width:380px) {
    .SignFormContainer form {
        width: 85%;
    }   
}
/*

    Navigation bar 

*/

.NavBarContainer{
    font-size: var(--sub-main-font-size);
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}


.NavBarRight {
    display: flex;
    justify-content: flex-end;
    column-gap:var(--sub-main-font-gap) ;
}
.NavBarLeft{
    display: flex;
    justify-content: flex-start;
}

.NavBarRight >p{
    padding-left:5px ;
    border-left: white solid 1px ;
}

.NavBarLanguage , .NavBarAccount ,.NavBarCart,.NavBarWallet{
    color: var(--primary-font-color);
    display: flex;
    align-items: center;
    column-gap: 5px;
    cursor: pointer;
}

.NavBarLanguage:hover , .NavBarAccount:hover ,.NavBarCart:hover ,.NavBarWallet:hover{
    color:#d8d8d8;
}


/* 

Main Page

*/

.MainPageContainer{
    margin:  0  0 60px 0;

}

/* 

Header 

*/

.HeaderContainer{
   
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px 20px;
    border-bottom: var(--border);
}

.HeaderLeft{
    align-items: center;
    font-size: var(--main-font-size);
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    
}


.HeaderLeft p{
    font-family: var(--secondary-font) ,"Outfit" ,'Segoe UI', 'Roboto', 'Oxygen';
    font-weight: 700;
    text-decoration: none;
    color: var(--primary-color);
}

.HeaderRight{
    display: flex;
    justify-content: flex-end;
}

.HeaderSearch {
    display: flex;
    border: var(--border);
    border-radius: var(--border-radius);
    border-style: inset;

}

.HeaderSearch input, input:focus{
    border: none;
    font-size: large;
}

/* 

Footer

*/

.FooterContainer{
    font-size: var( --sub-main-font-size);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 7px  20px;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;

}

.FooterLeft{
    display: flex;
    column-gap:var(--sub-main-font-gap);
}




/* 

OffersContainer

*/

.OffersContainer{
    background-color: black;
    color: var(--primary-font-color);
    font-weight: 100;
    text-align: center;
    padding:5px 0;
}




@media screen and (max-width:550px) {
    .OffersContainer{
        font-size: small;
    }
}

/* 

Landing

*/
/* 
.LandingContainer{
    height: image-height("./components/Landing/Landing.png");
} */.LandingContainer{
    height: 33vw;
}
.LandingContainer img{
    position: absolute;
    width: 100%;
}

 .LandingTextWrapper{
    position: absolute;
    display: grid;
    width: -webkit-fill-available;
   
}

.LandingContainer p{
    font-family:"Stick No Bills", "sans-serif";
    display: inline-block;
    width: -moz-fit-content;
    width: fit-content;
}

 .LandingImageName{
    font-weight: 900;
    font-size: 3rem;
    margin-left: 10%;
}

.BrandVoice{
    font-size: 2rem;
    font-weight: 700;
    border: black solid 1px;
    margin-right: 5%;
    padding: 5px;
    justify-self: flex-end;
    margin-left: 10%;
}

@media screen and (max-width:900px) {
.BrandVoice{font-size: 1.5rem;}

}

@media screen and (max-width:800px) {
    .LandingImageName{font-size: 2rem;}
    
}

@media screen and (max-width:600px) {
        .BrandVoice{font-size: 1rem;}
        
}
@media screen and (max-width:500px) {
    .LandingImageName{font-size: 1.5rem;}
}

@media screen and (max-width:440px) {
    .BrandVoice{font-size: .8rem;}
    
}

@media screen and (max-width:400px) {
    .LandingImageName{font-size: 1rem;}
}


/* 

Categories

*/

.CategoriesContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.CategoriesHeader{
    font-weight: 500;
    font-size: var(--main-font-size);
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.CategoryCardsSlider{
    width: 80%;
}

/* 

Category Card

*/

.CategoryCardContainer{
    margin: .1rem;
}

.CategoryCardDetails{
    position: relative;
    display: flex;
    background: rgba(57, 57, 57, 0.5);
    bottom: 7vh;
    justify-content: space-between;
    color: white;
    padding: 5px 10px;
    align-items: center


}
.CategoryCardDetails>p{
    font-weight: 200;
}

.CategoryCardContainer a>img{
    width: 100%;
    border-radius: 10px;
}

@media screen and (max-width:1000px) {
    .CategoryCardDetails>h3{ font-size: .95rem;}
}


/* 

Products

*/

.ProductsContainer{
    display: grid;
    justify-items: center
}

.ProductsContainerHeader{
    font-weight: 500;
    font-size: var(--main-font-size);
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    
}

.ProductsCardsContainer{
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 10px;
}


@media screen and (max-width:600px) {
    .ProductsCardsContainer{   grid-template-columns: auto auto auto ;
    }
}

@media screen and (max-width:450px) {
    .ProductsCardsContainer{   grid-template-columns: auto auto  ;
    }
}



/* 

Product

*/
.ProductCardContainer{
    margin: .2rem;
    border: black solid 1px;
    border-radius: 10px;

}



.ProductCardContainer >div h4{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2;
    -webkit-box-orient: vertical;
}
.ProductCardContainer >div{
    padding: 10px;
    display: grid;
    gap: 10px;
}
.ProductCardDetails{
    display: flex;
    justify-content: space-between;
}
.ProductCardContainer img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

